.most-popular {
  background: rgb(215, 215, 203);
  padding: 3rem 0;
  margin-bottom: 5rem;
}

.most-popular h1 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: black;
  letter-spacing: 0.3rem;
  font-family: "Wix Madefor Text", sans-serif;
}

.popular-items {
  margin: 0 6rem;
}
.slick-dots li button:before {
  font-size: 9px !important;
  color: rgb(94, 94, 74) !important;
}

@media (max-width: 450px) {
  .most-popular h1 {
    font-size: 1.5rem;
  }
  .popular-items {
    margin: 0 2rem;
  }

  .item {
    width: 100%;
    margin: 0 auto;
  }
}
