.announcement-bar{
    background: rgb( 94,94,74 );
    color: rgb(255,255,255);
    text-align: center;
    font-family: "Wix Madefor Text", sans-serif;
    padding: 0.8rem 0;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
}
@media (max-width:450px) {
    .announcement-bar{
        width: 100%;
    }
}