.contact-page {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.get-in-touch {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.get-in-touch-col-2 {
  font-family: "Wix Madefor Text", sans-serif;
}
.get-in-touch-col-2 h1 {
  font-size: 4rem;
  font-weight: lighter;
}
.get-in-touch-item {
  display: flex;
  gap: 3rem;
}
.get-in-touch-item div p {
  width: 15rem;
  line-height: 1.5rem;
}
.mail {
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.2rem;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Wix Madefor Text", sans-serif;
  background: rgb(215, 215, 203);
}
.contact .contact-col {
  flex: 4;
}
.contact img {
  flex: 6;
}

.contact-col form {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.contact-col form input {
  height: 2.5rem;
  margin-bottom: 2rem;
  border-radius: 0rem;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(215, 215, 203);
}
.contact-col form textarea {
  resize: none;
  border-radius: 0rem;
  background: rgb(215, 215, 203);
}
.contact-col form button {
  padding: 0.7rem 2rem;
  border-radius: 0;
  color: #fff;
  background: rgb(94, 94, 74);
  border: 1px solid rgb(94, 94, 74);
  font-family: "Wix Madefor Text", sans-serif;
  transition: 0.3s;
  cursor: pointer;
  width: 10rem;
  margin: 0 auto;
}
.contact-col form button:hover {
  color: #000;
  background-color: #fff;
}
.contact img {
  height: 60rem;
  width: 60rem;
  object-fit: cover;
}
.contact-page .cut-candles {
  width: 100rem;
  height: 40rem;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .contact-page {
    width: 100%;
    flex-direction: column;
    gap: 5rem;
  }
  .contact-col {
    width: 100%;
  }
  .get-in-touch {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .get-in-touch img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
  }
  .get-in-touch-col-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .get-in-touch-col-2 h1 {
    font-size: 2rem;
  }
  .get-in-touch-item{
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .cut-candles {
    display: none;
  }
  .contact {
    flex-direction: column;
    padding: 2rem 0;
  }

  .contact-col form input {
    width: 100%;
  }
  .contact-col form button {
    margin: 2rem auto;
  }
  .contact img {
    display: none;
  }
}
@media (max-width: 450px) {
  .get-in-touch-item{
    flex-direction: column;
  }
}
