.gift-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 5rem 0;
}
@media (max-width:450px) {
    .gift-container{
        flex-direction: column;
    }
    .gift-container div{
        margin: 0 0.5rem;
    }
}