.product-category {
  display: flex;
}
.left-pr {
  flex: 1;
  margin: 0 4rem;
}
.left-pr h1 {
  font-size: 1.5rem;
  font-weight: lighter;
}
.left-pr ul {
  list-style: none;
  margin-left: -2.5rem;
}
.left-pr ul li {
  margin: 0.5rem 0;
  cursor: pointer;
}
.left-pr ul li a {
  text-decoration: none;
  color: rgb(94, 94, 74);
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 0.9rem;
}
.sort{
  display: none;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.sort img{
  width: 1rem;
}
.right-p {
  flex: 8;
}
.right-p .browse{
  margin-left: 1rem;
  font-family: "Wix Madefor Text", sans-serif;
}
.browse p{
  font-size: 0.8rem;
}
.items {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 5rem;
}
@media (max-width:768px) {
  .product-category{
    flex-direction: column;
  }
  .items{
    grid-template-columns: repeat(2, 1fr);
  }
  .sort{
    display: flex;
  }
  .left-pr h1{
    display: none;
  }
  .left-pr hr{
    display: none;
  }
  .show-mobile-menu{
    display: block;
  }
  .hide-mobile-menu{
    display: none;
  }
}
@media (max-width:450px){
.items{
  grid-template-columns: repeat(1, 1fr);
}
}
